{% include top.html %}

<body>
<div id="main">
    <article>
        {{ content }}
    </article>
    <footer>

        <a href="https://www.DeinBus.de/"><img src="{{ site.url }}/img/deinbus_logo.png" alt="DeinBus.de" width="180" height="32"></a>

        <h2>Impressum</h2>

        <p>
            DeinBus.de GmbH<br>
            Ludwigstraße 182a<br>
            63067 Offenbach
        </p>


        <p>
            <strong>Unternehmenssitz</strong><br>
            DeinBus.de GmbH<br>
            Friedrichstr. 53<br>
            88045 Friedrichshafen
        </p>

        <p>
            Telefon: 069 / 17 53 73 200<br>
            Fax: <em>auf Anfrage</em><br>
            Web: <a href="https://www.DeinBus.de">www.DeinBus.de</a><br>
            E-Mail: <a href="mailto:info@DeinBus.de">info@DeinBus.de</a>
        </p>

        <p>
            Finanzamt: Finanzamt Friedrichshafen<br>
            Steuernummer: auf Anfrage<br>
            USt.Id.: DE264583688
        </p>

        <p>
            Geschäftsführer: Alexander Kuhr, Ingo Mayr-Knoch<br>
            Registergericht: Amtsgericht Ulm<br>
            HRB-Nummer: HRB723403
        </p>

    </footer>
</div>
</body></html>